@media only screen and (max-width: 1000px) {

   .landing-page h1 {
      font-size:80px;
   }

   .landing-page p {
      font-size: 35px;
      line-height: 55px;
   }

   .about-the-author, .papas-pool {
      flex-direction:column
   }

   .dedes-pet-shop {
      flex-direction:column-reverse;
   }

   .about-the-author img, .dedes-pet-shop img, .papas-pool img {
      object-fit:cover;
      width:100%;
      height:auto;
   }

   .about-the-author img {
      width:80%;
      max-width:500px;
   }

   .ven-diagram-container {
      flex-direction:column;
   }

   .circle {
      aspect-ratio: 1/1;
      width:80%;
      max-width:400px;
   }

   .circle p {
      font-size:14px;
      line-height:18px;
      margin-bottom:10px;
   }

   #left-circle {
      transform: translate(0, 50px);
   }

   #left-circle div {
      transform: translate(0, -40px);
   }

   #right-circle {
      transform: translate(0, -50px);
   }
   #right-circle div {
      transform: translate(0, 50px);
   }

   #center-of-diagram {
      opacity:1;
      background:none;
   }

   #center-of-diagram h2 {
      font-size:30px;
   }

   .circle {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
   }

   .circle h2 {
      text-align:center;
   }

   .circle div:first-child {
      flex-basis: 100%;
   }

   .interactive-parts {
      flex-direction: column;
      padding:50px;
   }
   .minimal-pairs {
      flex-direction: column;
   }

   .resources-intro {
      padding-top:30px;
      flex-direction:column;
   }

   .coloring-book {
      flex-direction:column;
   }
   .coloring-book img {
      max-width:100%;
   }


}
