.resources-intro {
   background:linear-gradient(#e1f6e1, #2eb9da, #2f740a, #5c2d19);
   justify-content:center;
   align-items:center;
   min-height:100vh;
   padding:0;
   gap:0;
   position:relative;
}
.resources-intro img {
   width:300px;
   width:300px;
   object-fit: contain;
}
.resources-intro .speech-bubble {
   background:rgb(250, 250, 200);
   border:4px solid rgb(183, 182, 131);
   border-radius:20px;
   text-align:center;
   max-width:800px;
   margin:20px;
   z-index:1;
}
.resources-intro .speech-bubble p {
   margin:20px;
   color:rgb(65, 75, 40);
}

.puppets {
   background: rgb(202, 199, 128);
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly;
   gap:0;
}
.puppets h2 {
   text-align:left;
}
.puppets > div:nth-child(1) {
   width:100%;
   margin-bottom:10px;
}
.puppet {
   background: rgba(71, 139, 186, 0.75);
   height:200px;
   width:200px;
   margin:10px 5%;
   border-radius:50%;
   position:relative;
}
.puppet p {
   font-size:20px;
   color:#fffc00;
   letter-spacing:1px;
   font-weight:bold;
   position:absolute;
   text-align:center;
   width:100%;
   top:calc(50% - 10px);
   filter: drop-shadow(2px 1px #333);
   text-shadow:1px 1px 1px #555;
}
.puppet img {
   position:absolute;
   height:200px;
   width:200px; 
   left:0;
   top:0;
   opacity:0.85;
   object-fit: contain;
   transition: width 200ms, height 200ms, left 200ms, top 200ms, opacity 200ms;
}
.puppet:hover img {
   height:220px;
   width:220px; 
   top:-10px;
   left:-10px;
   opacity:1;
}

.coloring-book {
   background: rgb(65, 75, 40);
   align-items:center;
}
.coloring-book iframe {
   height:400px;
   aspect-ratio: 4 / 3;
}

.interactive-parts {
   background:rgb(71, 139, 186);
   align-items:center;
   justify-content:space-between;
   padding:100px 50px;
}

.interactive-parts .part img {
   height:200px;
   width:200px; 
   object-fit: contain;
   border:5px dashed black;
   background:white;
}

.interactive-parts .part img.animals {
   border-radius: 80px 300px 80px 80px;
}

.interactive-parts .part img.people {
   border-radius: 50%;
   padding: 10px;
   width: 150px;
   height: 180px;
}

.interactive-parts .part img.places {
   padding: 0 20px;
   border-radius: 20px;
}

.interactive-parts .part a {
   color:white;
}
.interactive-parts .part p {
   text-align:center;
}

.language-and-literacy {
   background: rgb(95, 62, 43);
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly;
   gap:0;
   min-height:50vh;
}
.language-and-literacy div:first-child p {
   text-align:left;
}
.language-and-literacy iframe {
   height:300px;
   max-width:100%;
   aspect-ratio: 4 / 3;
}
.language-and-literacy p {
   text-align:center;
}
.language-and-literacy a {
   color:white;
}
.language-and-literacy div:first-child {
   width:100%;
   margin-bottom:10px;
}

.minimal-pairs {
   background:#2f740a;
}
.minimal-pairs div:first-child p {
   margin-bottom:10px;
}
.minimal-pairs iframe {
   height:387px;
}
.minimal-pairs .pair-sheet  {
   text-align:center;
}
.minimal-pairs .pair-sheet p {
   text-align:center;
}
.minimal-pairs .pair-sheet p a {
   color:white;
}
