.puppets {
   background: rgb(202, 199, 128);
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly;
   gap:0;
}
.puppets > div:nth-child(2) {
   width:100%;
   margin-bottom:10px;
}
.puppet {
   background: rgba(71, 139, 186, 0.75);
   height:200px;
   width:200px;
   margin:10px 5%;
   border-radius:50%;
   position:relative;
}
.puppet p {
   font-size:20px;
   color:#fffc00;
   letter-spacing:1px;
   font-weight:bold;
   position:absolute;
   text-align:center;
   width:100%;
   top:calc(50% - 10px);
   filter: drop-shadow(1px 1px #333);
   text-shadow:1px 1px 1px #555;
}
.puppet img {
   position:absolute;
   height:200px;
   width:200px; 
   left:0;
   top:0;
   opacity:0.85;
   object-fit: contain;
   transition: width 200ms, height 200ms, left 200ms, top 200ms, opacity 200ms;
}
.puppet:hover img {
   height:220px;
   width:220px; 
   top:-10px;
   left:-10px;
   opacity:1;
}

.coloring-book {
   background: rgb(65, 75, 40);
   align-items:center;
}
.coloring-book .button-set {
   margin-top:20px;
   display:flex;
   flex-direction:row;
   gap:10px;
}
.coloring-book iframe {
   height:400px;
   aspect-ratio: 4 / 3;
}

.interactive-parts {
   background:rgb(71, 139, 186);
   align-items:center;
   justify-content:space-between;
}

.interactive-parts .part {
   height:200px;
   width:200px;
   position:relative;
   border:5px dashed black;
   background:white;
}

.interactive-parts .part:nth-child(2) {
   border-radius: 80px 300px 80px 80px;
}
.interactive-parts .part:nth-child(3) {
   border-radius: 50%;
   width:150px;
}

.interactive-parts .part:nth-child(3) img {
   width:150px;
}

.interactive-parts .part:nth-child(4) {
   border-radius: 10%;
}

.interactive-parts .part img {
   height:200px;
   width:200px; 
   object-fit: contain;
}

.language-and-literacy {
   background: rgb(95, 62, 43);
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly;
   gap:0;
   min-height:50vh;
}
.language-and-literacy div:first-child p {
   text-align:left;
}
.language-and-literacy embed {
   width:300px;
   aspect-ratio: 4 / 3;
}
.language-and-literacy p {
   text-align:center;
}
.language-and-literacy a {
   color:white;
}
.language-and-literacy div:first-child {
   width:100%;
   margin-bottom:10px;
}

.minimal-pairs {
   background:#2f740a;
}
.minimal-pairs div:first-child p {
   margin-bottom:10px;
}
.minimal-pairs iframe {
   height:387px;
}
.minimal-pairs .pair-sheet p {
   text-align:center;
}
.minimal-pairs .pair-sheet p a {
   color:white;
}
