#content {
   flex-direction:column;
}

#logo {
   height:30%;
   width:100%;
}

#name {
   height:30%;
   width:100%;
}

#slogan {
   height:30%;
   width:100%;
   justify-content:center;
}

#slogan img {
   display:none;
}

#slogan p {
   display:block;
}

