* {
   margin:0;
   padding:0;
}

body {
   background:linear-gradient(#e1f6e1, #2eb9da, #2f740a, #5c2d19);
}

#content {
   width:80%;
   margin:0 auto;
   height:100vh;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
}

#slogan {
   height:50%;
   width:100%;
   display:flex;
   justify-content:space-between;
   align-items:center;
   /*
   gap:20px;
    */
}


#slogan img {
   height:100%;
}

#destTop, #destBot {
   display:flex;
   justify-content:center;
   display:relative;
}
#destTop p, #destBot p, .letter {
   font-size: 45px;
   line-height: 65px;
   text-align:center;
   font-family:"noteworthy";

   background: -webkit-linear-gradient(#b9e8e0, #2bb9dc);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   filter: drop-shadow(2px 2px #333);
   letter-spacing:6px;

   display:flex;
}

#logo, #name {
   height:50%;
   width:50%;
   display:flex;
   align-items:center;
   justify-content:center;
}

#flowers {
   background-image: url("flowers.png");
   height:600px;
   width:100%;
   position: absolute;
   bottom: 0px;
   opacity: 0.15;
   z-index:-1;
}



/********************************************/
/*        Screen size overrides             */
/********************************************/


/********************************************/
/* Screen is LARGER than 1400px (Default)  */
/********************************************/
#content {
   max-width:1400px;
}
#logo img, #name img {
   max-width:480px;
}
#slogan p {
}

.hide {
   visibility:hidden;
}

.show {
   visibility:visible;
}

/********************************************/
/*         1200 < screen <= 1400            */
/********************************************/
@media only screen and (max-width: 1400px) {
   #content {
   }
   #slogan p, .letter {
      font-size:35px;
      line-height:50px;
   }
   #logo img, #name img {
      max-width:450px;
   }
}

/********************************************/
/*         1000 < screen <= 1200            */
/********************************************/
@media only screen and (max-width: 1200px) {
   #content {
   }
   #slogan p, .letter {
      font-size:30px;
      line-height:45px;
      background-color:black;
   }
   #logo img, #name img {
      max-width:400px;
   }
   #destBot {
      top:50px;
      left:20px;
   }
}

/********************************************/
/*          800 < screen <= 1000            */
/********************************************/
@media only screen and (max-width: 1000px) {
   #content {
   }
   #slogan  p, .letter {
      font-size:30px;
      line-height:45px;
   }
   #logo img, #name img {
      max-width:325px;
   }
}

/********************************************/
/*          600 < screen <= 800             */
/********************************************/
@media only screen and (max-width: 800px) {
   #content {
   }
   #slogan p, .letter {
      font-size:20px;
      line-height:40px;
   }
   #logo img, #name img {
      max-width:300px;
   }
}

/********************************************/
/*                screen <= 600             */
/********************************************/
@media only screen and (max-width: 600px) {
   #content {
   }
   #slogan p, .letter {
      font-size:20px;
      line-height:40px;
   }
   #logo img, #name img {
      max-width:250px;
   }
}


#slogan img {
}
#animation-container {
   /*
   background-color:red;
   flex-grow:1;
    */
}
div.letter {
   position:absolute;
}

